
body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    min-height: 100%;
    width: 1440px;
    margin: 0 auto;
}
header {
    width: 100%;
    padding-top: 28px;
}
.container {
    width: 970px;
    margin: 0 auto;
}
nav {
    margin: 0 auto;
    width: 980px;
    text-align: center;
}
ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #828282;
    padding-bottom: 28px;
    margin-bottom: 12px;
}
li {
    font-style: normal;
    padding-right: 40px;
}
a {
    font-size: 18px;
    text-decoration: none;
    color: #828282;
}
a:hover {
    color: black;
    text-shadow: 13px 13px 8px rgba(150, 150, 150, 1);
}
.homepage {
    color: black;
}
h1 {

    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    font-style: normal;
    padding-bottom: 50px;
}
.homepage_img {
    width: 970px;
    height: 387px;
}
.about_me {
    background-color: #F6F6F6;
    padding-bottom: 100px;
}
.about_me-container {
    text-align: center;
    width: 970px;
    margin: 0 auto;
}
.about_me-container h2 {
    font-style: normal;
    padding-top: 100px;
    color: #070707;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    padding-bottom: 50px;
}
.about_me-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}
.about_me-container p {
    padding-bottom: 30px;
}
.about_me-p{
    width: 480px;
    text-align: center;
    height: 50px;
    margin: 0 auto;
}
.studying-p {
    width: 406px;
    height: 50px;
    margin: 0 auto;
}
.motivation-p {
    width: 321px;
    margin: 0 auto;
}
.skills {
    padding-bottom: 100px;
}
.skills .heading {
    font-style: normal;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.skills .heading h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 65px;
    color: #070707;
    padding-bottom: 20px;
}
.skills .heading p {
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
}
.skills_icons {
    display: flex;
    justify-content: space-between;
}
.ps {
    text-align: center;
}
.icon {
    padding-bottom: 25px;
}
h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}
.rating_block {
    text-align: center;
}
.rating_block h3:last-of-type {
    padding-bottom: 60px;
}
h3.figma {
    margin-bottom: 20px;
}
.star {
    cursor: pointer;
}
.portfolio {
    background-color: #F6F6F6;
    text-align: center;
    padding: 100px 0;

}
h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
}
.portfolio-photo{
    padding-top: 50px;
    padding-bottom: 40px;
}
.fashion_store{
    text-align: center;
}
.portfolio_postscriptum {
    text-decoration: underline;
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    line-height: 25px;
}
footer {
    padding: 100px 0;
    text-align: center;
}
footer p {
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
    width: 260px;
    height: 46px;
}
.footer_heading {
    padding-bottom: 60px;
}
input[type="button"] {
    text-align: center;
    width: 180px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}
input[type="button"]:hover {
    color: black;
    background-color: white;
    box-shadow: inset 0 0 0.4em 0 #828282, 0 0 0.4em 0 #828282;
}
.links {
    margin: 0 auto;
    width: 310px;
    display: flex;
    justify-content: space-between;
}
.social_media:hover {
    border: .2rem solid #F6F6F6;
    border-radius: 1rem;
    background: transparent;
    font-size: 3rem;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0.5em 0 #828282, 0 0 0.5em 0 #828282;
}
.social_media:focus {
    border: 5px solid white ;
}
.last-words{
    font-style: normal;
    padding-top: 60px;
    color: #828282;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 200px;
    height: 60px;
    text-align: center;
    letter-spacing: 0.09rem;
}
